<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="mobile-agent" content="format=html5;">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="grey">
    <link rel="icon" type="image/x-icon" href="http://chexianghui-srv.qiniudn.com/favicon.ico"/>
    <title>车享惠</title>
    <meta name="Keywords" content="车享惠,微信营销">
    <meta name="Description" content="车享惠">
    <link rel="icon" href="./static/favicon.png" type="image/x-icon">
    <title>Vux</title>{% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href=".{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">{% } %}
    <link rel="stylesheet" type="text/css" href="./static/app/m_all.css" media="all">
    <script type="text/javascript" src="./static/vendors/zepto.1.1.4.min.js"></script>
    <script type="text/javascript" src="./static/vendors/fastclick.1.0.6.min.js"></script>
  </head>
  <body>
    <div id="app">
      <router-view ></router-view>
    </div>
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src=".{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>{% } %}
    <script type="text/javascript">
      if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function() {
            FastClick.attach(document.body);
        }, false);
      }
      document.addEventListener('WeixinJSBridgeReady', function onBridgeReady(){
          WeixinJSBridge.call('hideOptionMenu');
          WeixinJSBridge.call('showToolbar');
      })
    </script>
  </body>
</html>
